<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pokedex | Charizard</title>
    <link rel="shortcut icon" href="../img/charizard.png" type="image/x-icon">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap" rel="stylesheet">
</head>
<body style="font-family: 'Press Start 2P', cursive;">
    <h1 style="color: orange; text-align: center;">Charizard</h1>
    <img style="width: 25%;" src="../img/charizard.png" alt="charizard">
    <p>tipo: <span style="background-color: orange; padding: 2px; border-radius: 5px;">fuego</span><span style="background-color: rgb(103, 103, 235); padding: 2px; border-radius: 5px;">volador</span></p>
</body>
</html>