<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pokedex | Ivysaur</title>
    <link rel="shortcut icon" href="../img/ivysaur.png" type="image/x-icon">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap" rel="stylesheet">
</head>
<body style="font-family: 'Press Start 2P', cursive;">
    <h1 style="color:rgb(60, 255, 0); text-align: center;">Ivysaur</h1>
    <img style="width: 25%;" src="../img/ivysaur.png" alt="ivysaur">
    <p>tipo: <span style="background-color: rgb(60, 243, 43); padding: 2px; border-radius: 5px;">planta</span><span style="background-color: rgb(139, 57, 160); padding: 2px;border-radius: 5px;">veneno</span></p>
</body>
</html>