<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pokedex | Squirtle</title>
    <link rel="shortcut icon" href="../img/squirtle.png" type="image/x-icon">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap" rel="stylesheet">
    <style>
        body {
            background-color: gray;
        }
    </style>
</head>
<body style="font-family: 'Press Start 2P', cursive;">
    <h1 style="color:rgb(0, 47, 255); text-align: center;">Squirtle</h1>
    <img style="width: 25%;" src="../img/squirtle.png" alt="squirtle">
    <p style="color: white;">tipo: <span style="background-color: blue; padding: 2px; border-radius: 5px;">planta</span></p>
    <br>
    <b style="color: white;">Descripción</b>
    <p style="color: white;">Cuando retrae su largo cuello en el caparazón, dispara agua a una presión increíble.</p>
    <br>
    <p style="text-align: center;"><a style="text-align: center; text-decoration: none;" href="../index.html"> <span style="background-color: yellow; padding: 2px;border-radius: 5px; color: black;">Inicio</span></a></p>
</body>
</html>